## 데이터 통합하기
- 데이터 조인
- 원리 매우 중요

In [3]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({
    'Class1': [95,92,98,100],
    'C:ass2': [91,93,97,99],
})


df2 = pd.DataFrame({
    'Class1': [87,89],
    'Class2': [85,90]
})

df2

   Class1  Class2
0      87      85
1      89      90

In [5]:
import pandas as pd
pd.__version__

'2.1.4'

In [7]:
# df1.append(df2) # 에러 뜸. pandas 1.4.0 이후로 지원 안함. concat() 사용 권장
# Deprecated since version 1.4.0: Use concat() instead. For further details see Deprecated DataFrame.append and Series.append.

In [8]:
result = pd.concat([df1,df2])
result

   Class1  C:ass2  Class2
0      95    91.0     NaN
1      92    93.0     NaN
2      98    97.0     NaN
3     100    99.0     NaN
0      87     NaN    85.0
1      89     NaN    90.0

In [12]:
df3 = pd.DataFrame({
    'Class1': [96,83]
})

pd.concat([result, df3], ignore_index=True) #  ignore_index=True 이걸로 정렬

   Class1  C:ass2  Class2
0      95    91.0     NaN
1      92    93.0     NaN
2      98    97.0     NaN
3     100    99.0     NaN
4      87     NaN    85.0
5      89     NaN    90.0
6      96     NaN     NaN
7      83     NaN     NaN

## 가로 방향으로 통합하기
- pd.concat(): 세로 방향으로 통합하기

In [13]:
df4 = pd.DataFrame({
    'Class3': [93,91,95,98]
})

df1.join(df4)

   Class1  C:ass2  Class3
0      95      91      93
1      92      93      91
2      98      97      95
3     100      99      98

In [14]:
index_label = ['a','b','c','d']
df1a = pd.DataFrame({'Class1': [95, 92, 98, 100],
                    'Class2': [91, 93, 97, 99]}, index= index_label)
df4a = pd.DataFrame({'Class3': [93, 91, 95, 98]}, index=index_label)

df1a.join(df4a)

   Class1  Class2  Class3
a      95      91      93
b      92      93      91
c      98      97      95
d     100      99      98

In [17]:
df_A_B = pd.DataFrame({'판매월': ['1월', '2월', '3월', '4월'],
                       '제품A': [100, 150, 200, 130],
                       '제품B': [90, 110, 140, 170]})

df_C_D = pd.DataFrame({'판매월': ['1월', '2월', '3월', '4월'],
                       '제품C': [112, 141, 203, 134],
                       '제품D': [90, 110, 140, 170]})
df_C_D

  판매월  제품C  제품D
0  1월  112   90
1  2월  141  110
2  3월  203  140
3  4월  134  170

In [18]:
df_A_B.merge(df_C_D)

  판매월  제품A  제품B  제품C  제품D
0  1월  100   90  112   90
1  2월  150  110  141  110
2  3월  200  140  203  140
3  4월  130  170  134  170

In [19]:
    df_A_B.join(df_C_D)

ValueError: columns overlap but no suffix specified: Index(['판매월'], dtype='object')

In [20]:
df_left = pd.DataFrame({'key':['A','B','C'], 'left': [1, 2, 3]})
df_right = pd.DataFrame({'key':['A','B','D'], 'right': [4, 5, 6]})

In [21]:
# p.274
df_left.merge(df_right,how='left', on = 'key')

  key  left  right
0   A     1    4.0
1   B     2    5.0
2   C     3    NaN

In [23]:
df_left.merge(df_right,how='right', on = 'key')

  key  left  right
0   A   1.0      4
1   B   2.0      5
2   D   NaN      6

In [24]:
df_left.merge(df_right,how='outer', on = 'key') # FILL FOIN

  key  left  right
0   A   1.0    4.0
1   B   2.0    5.0
2   C   3.0    NaN
3   D   NaN    6.0

In [25]:
df_left.merge(df_right,how='inner', on = 'key') # 교집합

  key  left  right
0   A     1      4
1   B     2      5

In [ ]:
# 학생시험성적 엑셀파일 불러오기

In [32]:
import pandas as pd

df = pd.read_excel('data/학생시험성적.xlsx')
df

  학생  국어  영어  수학         평균
0  A  80  90  85  85.000000
1  B  90  95  95  93.333333
2  C  95  70  75  80.000000
3  D  70  85  80  78.333333
4  E  75  90  85  83.333333

In [34]:
# 파일 불러올 때 인코딩 확인
pd.read_csv("data/sea_rain1_from_notepad.csv", encoding="cp949") # 대부분의 경우에는 encoding="cp949"

     연도       동해       남해       서해       전체
0  1996  17.4629  17.2288  14.4360  15.9067
1  1997  17.4116  17.4092  14.8248  16.1526
2  1998  17.5944  18.0110  15.2512  16.6044
3  1999  18.1495  18.3175  14.8979  16.6284
4  2000  17.9288  18.1766  15.0504  16.6178

In [42]:
df = pd.read_excel("data/학생시험성적.xlsx", sheet_name = '2차시험', index_col = '학생')
df

    과학  사회   역사         평균
학생
A   90  95   85  90.000000
B   85  90   80  85.000000
C   70  80   75  75.000000
D   75  90  100  88.333333
E   90  80   90  86.666667

In [36]:
!pip install xlsxwriter

Collecting xlsxwriter
  Obtaining dependency information for xlsxwriter from https://files.pythonhosted.org/packages/f7/3e/05ba2194cd5073602422859c949a4f21310a3c49bf8dccde9e03d4522b11/XlsxWriter-3.1.9-py3-none-any.whl.metadata
  Downloading XlsxWriter-3.1.9-py3-none-any.whl.metadata (2.6 kB)
Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
   ---------------------------------------- 0.0/154.8 kB ? eta -:--:--
   ---------------------------------------- 154.8/154.8 kB 4.7 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

In [41]:
pd.read_csv("data/sea_rain1_from_notepad.csv", encoding="cp949")
df1.to_excel("data/output.xlsx")

In [40]:
df1.to_excel("data/output.xlsx")
# p.350
# excel_writer = pdExcelWriter("data/학생시험성적2.xlsx", engine = 'xlsxwriter')
# df1.to_excel(excel_writer, index=False)
# excel_writer.save()

## 엑셀 자동화
- 정의: 엑셀 시트 보고서를 제작해서 매일 보고를 해야할 때 엑셀 자동화
 + 엑셀 Cell의 색상을 변경한다 등, VBA 코드도 추가
 + RPA 과정
 + openpyxl, xlsxwriter 두개의 라이브러리 사용