<a href="https://colab.research.google.com/github/hyelin606/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95_231227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. 파이썬을 계산기처럼

## 사칙연산

In [ ]:
1+1

2

In [ ]:
5-2

3

In [ ]:
15*2

30

In [ ]:
# 나눗셈
10/2    # 정수 / 정수 ====> 변환값은 실수형으로 반환

5.0

### 실수 연산

In [ ]:
print(1.2+5.3)
print(6.4-1.7)
print(1.4*3.2)
print(9.3/3.1)

6.5
4.7
4.4799999999999995
3.0

### 연산규칙
- (1) 괄호 안 계산
- (2) 지수 계산
- (3) 곱셈과 나눗셈 계산
- (4) 덧셈과 뺼셈 계산
- (5) 같은 순위 연산이면, 왼쪽에서 오른쪽으로
- (6) 중복된 괄호가 있을 경우, 안쪽에서부터 처리

In [ ]:
print(2+3*4)

14

In [ ]:
print((3+4*2)+(3-2*5/2))

9.0

함수의 종류
- 내장(built-in)함수: 파이썬 설치와 함께 제공하는 기본적인 함수
 + print(), type()
 + 종류가 몇개인가요? (모른다..)
 + 5주차~8주차 Documentation : 함수를 설명해주는 문서 보는 법 익힐 것 (영어)
- 라이브러리에서 제공하는 함수
 + R: 패키지, Python : 라이브러리
   - 웹사이트 개발 : 웹사이트와 관련된 라이브러리를 별도 설치 필요
   - 통계분석 : 통계분석과 관련된 라이브러리 별도 설치 필요
   - 시각화 : 시각화와 관련된 라이브러리 설치
   - 개임개발 : 게임개발과 관련된 라이브러리 설치
   - 수치연산 주요 라이브러리 : numpy, scipy

## type()
- 함수 : 특정 기능을 수행하도록 만든 매직박스
 + 특정함수를 조건만 맞춰주면 동작함

In [ ]:
# 파이썬에서는 정수를 어떻게 표현할까?
# 파이썬에서는 실수를 어떻게 표현할까?
print(type(3))

<class 'int'>

In [ ]:
print(type(3.5))

<class 'float'>

In [ ]:
print(type(~~~))

SyntaxError: ignored

- 파이썬 객체지향 언어입니다.

## 거듭 제곱과 나머지
- 숫자 A를 n번 곱하는 거듭제곱(Power)
 + A는 밑, n은 지수라고 표현

In [ ]:
2 * 2 * 2 * 2 * 2

32

In [ ]:
2 ** 5 # 거듭제곱

32

- 나머지 구하는 방법

In [ ]:
13 % 5 # 나머지

3

In [ ]:
# 몫을 구하고 싶음
13 // 5

2

- 교재 표 3-1(p34), 산술연산자 표 정리

## 과학적 표기법 (Scientific notation)
- 아주 큰 수, 작은 수를 다뤄야하는 케이스
  + 빛은 초당 30만 km
  + 딘위를 m/s 표현하면, 300,000,000m/s
  + 3x10^8

In [ ]:
3*10**8

300000000

In [ ]:
3e8

300000000.0

In [ ]:
3e-4

0.0003

## 진수 표현과 변환
- 우리는 일상생활에서는 10진법
- 60진법 : 60초가 1분, 60분이 1시간
- 12진법 : 오전 12시간, 오후 12시간, 1년 12달
- 컴퓨터 프로그래밍, 숫자 0과 1로 이루어진 2진법 수행
- 8진법  : 0~7까지의 숫자
- 16진법 : 0~9, a, b, c, d, e, f
- 매서드
 + bin() : 10진수를 2진수로
 + oct() : 10진수를 8진수로
 + hex() : 10진수를 16진수로

In [ ]:
17 # 10진법

17

In [ ]:
0b10001 # 2진법

17

In [ ]:
0o21 #8진법

17

In [ ]:
0x11 #16진법

17

## 논리 연산 및 비교 연산 (매우 중요)
- 참/거짓
- 논리 연산을 잘 활용하는 것이 프로그랭밍의 핵심

In [ ]:
print(True)

True

In [ ]:
print(False)

False

In [ ]:
print(type(True))

<class 'bool'>

### 논리 연산자
- and : A and B : A와 B 모두 참일 때 참
- or : A or B : A와 B 중 하나라도 참이면 참, 둘다 거짓일 때 거짓
- not : not A : A가 참일 떄 거짓, A가 거짓이면 참

In [ ]:
# 교집합
# True 또는 False 결과가 나오도록 조건식을 만들어야함
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# 합집합
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
not False

True

### 비교연산자

In [ ]:
# True 또는 False 결과가 나오도록 "의도적"으로 조건식을 만들어야함
1 == 2 # a와 b가 같다

False

In [ ]:
1 != 2 # a와 b는 같지 않다

True

In [ ]:
1<= 2 # a는 b보다 작거나 같다

True

In [ ]:
1 < 2 # a가 b보다 작다

True

In [ ]:
1>= 2 # a가 b보다 크거나 같다

False

In [ ]:
1 >2 # a가 b보다 크다

False

### 비교연산자 + 논리연산자

In [ ]:
1 > 0 and -2 < 0 # 비교연산자(1순위) 논리연산자(2순위)

True

In [ ]:
# 괄호 안이 먼저 연산
 ((3 < 0 ) and (-5 > 0)) and (1 > 5)

False

# Chapter 4. 변수와 자료형

## 변수 (p.42)

In [ ]:
# 단순 계산기
1 + 1

2

변수명 = data

In [ ]:
a = 100
print(a)

100

In [ ]:
# 변수 : Variable, 데이터
a = 1000
b = 1110

### 변수명 짓기 규칙
- snake, camel

In [ ]:
# snake
num_a = 100
num_b = 110

# Camel
myStudent = "evan"
mySchool = "숭실대학교"

# 주의해야할 것
3star = "이장군" # 앞에 숫자가 오면 안됨

SyntaxError: ignored

In [ ]:
print(num_a)

100

In [ ]:
# print = 100 (금지, 안됨)
print(num_a) # 내장함수명을 변수명으로 만들면 안됨!

NameError: ignored

In [ ]:
num = 1
Num = 100

In [ ]:
print(num)
print(Num)

1
100

In [ ]:
my student = "evan" # 변수명 작성시, 공백 있음 안됨

### 예약어는 변수명으로 이용할 수 없음
- (p.45)
- print, None, True, etc

### 변수의 반대의 : 상수
- 한번 지정 후, 변하지 않는 고정 값

In [ ]:
# 상수
pi = 3.14

In [ ]:
# 실제 변수 만들어보기
num1 = input("숫자를 입력해주세요!!") # 숫자를 입력해도 문자열로 출력됨
num2 = input("숫자를 입력해주세요!!")

print(num1, num2)

숫자를 입력해주세요!!100
숫자를 입력해주세요!!200
100 200

In [ ]:
print(num1 + num2)

100200

In [ ]:
print(num1 + num2)
print(num2 + num1)

100200
200100

In [ ]:
print(type(num1)) # <class 'str'> 문자열
print(type(num2)) # <class 'str'> 문자열

<class 'str'>
<class 'str'>

In [ ]:
num_a = int(num1)
num_b = int(num2)
print(num_a + num_b)



string_num = "42"
int_num = int(string_num)
print(int_num)  # Output: 42

300
42

In [ ]:
# 하고 싶은 것 : 사칙연산
# 결론: 문자열 100을 숫자 100으로 변경하면 될 것 같음
코드를 찾기

In [ ]:
# 프로그래밍 문자열로 표현하고 싶다!
"" or ''

''

In [ ]:
a = '100' # 문자열 100
b = '5000' # 문자열 5000

## 문자열
- ""(큰 따옴표) 또는 ''(작은 따옴표) 지정

In [ ]:
greeting = 'Hello" # 안됨

In [ ]:
string3 = 'This is a "double" quotation test'
print(string3)

This is a "double" quotation test

In [ ]:
long_string1 = """
문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3
"""

print(long_string1)

문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3

In [ ]:
a = 'Enjoy '
b = 'Python'
print(a  +  b)

Enjoy Python

In [ ]:
print(a * 3)

Enjoy Enjoy Enjoy

## 리스트 (List), p.49
- 가장 중요한 자료형
- 다른 프로그래밍 언어에서는 배열 (Array)
- 예시
 + 1반의 과목별 수학 점수
- 다중의 데이터를 묶는다

In [ ]:
# 1번 학생의 국어, 영어, 수학, 과학
student1 = [90, 95, 85, 80]
student1

[90, 95, 85, 80]

In [ ]:
print(type(student1))

<class 'list'>

### 인덱싱(Indexing)
- 리스트에서 특정 데이터를 추출

In [ ]:
student1

[90, 95, 85, 80]

In [ ]:
print(student1[0]) # 숫자 0은 리스트의 첫번째 항목을 의미
print(student1[1])
print(student1[2])
print(student1[3])

90
95
85
80

In [ ]:
greeting = 'Hello, Python'
print(greeting[7])

P

### 리스트 수정, 삭제

In [ ]:
student1[0] = 100 # 새로운 데이터 할당, 0번째 인덱스
student1

[100, 95, 85, 80]

In [ ]:
# 문자열, 덧셈 연산자 + 곱셈 연산자
# 리스트에 적용

myFriends = ['주원', '수영', '섬희', '성령']
newFriends = ['은수']

myFriends2 = myFriends + newFriends
print(myFriends2)

['주원', '수영', '섬희', '성령', '은수']

In [ ]:
myNumbers = [1]
myNumbers * 3

[1, 1, 1]

In [ ]:
mixed = [0, 2, 3, 14, 'python', True, myFriends2]
mixed[-1][-1][0]

'은'

In [ ]:
# 수영, 수 추출
result = myFriends2[1]
result[0]
myFriends2[1][0]

'수'

### 슬라이싱
- 문자열, 리스트 그 외 파이썬 가의 대부분 자료형 원리 동일 적용

In [ ]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)
print(list_data[0:3]) # 시작인덱스:끝인덱스-1

print(list_data[0:6])
print(list_data[4:10]) # print(list_data[4:])
print(list_data[:]) # 모든 데이터 조회
print(list_data[:6])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[0, 1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5]
[0, 2, 4, 6, 8]

In [ ]:
print(list_data[:])
print(list_data[::2])
print(list_data[::3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[0, 3, 6, 9]

In [ ]:
greeting = 'Hello, Python'
print(greeting[0:5])

Hello

## 튜플(Tuple)
- 기초 문법이 중요함 (면접 때 질문 받을 수 있음)
- 튜플은 리스트와 유사하다

In [ ]:
tuple1 = (1, 2, 3, 4)
print(tuple1)
print(type(tuple1))

(1, 2, 3, 4)
<class 'tuple'>

### 유사한 것
- 인덱싱과 슬라이싱이 동일

In [ ]:
tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
print(tuple[0:5])
tuple[1]

(0, 1, 2, 3, 4)

1

### 차이점
- 리스트는 수정, 삭제가 잘 됨
- 튜플은 수정, 삭제가 안 됨

In [ ]:
l_data = [0, 1, 2, 3] # 숫자 3 대신 30
t_data = (0, 1, 2, 3) # 숫자 3 대신 30

l_data[3] = 30
t_data[3] = 30

# del l_data[3]
del t_data[3]

TypeError: ignored